<?xml version="1.0" encoding="UTF-8"?>
<beans
xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:aop="http://www.springframework.org/schema/aop"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans.xsd
                     http://www.springframework.org/schema/tx
                     http://www.springframework.org/schema/tx/spring-tx.xsd
                     http://www.springframework.org/schema/aop
                     http://www.springframework.org/schema/aop/spring-aop.xsd
                     http://www.springframework.org/schema/context
                     http://www.springframework.org/schema/context/spring-context.xsd" >
                    
                    <context:component-scan base-package="com.zust.dao"></context:component-scan>
                   	<context:component-scan base-package="com.zust.service"></context:component-scan>
              		
                 	<bean id="sessionFactory"
        					class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">    
        					<property name="dataSource" ref="dataSource" />
        					<property name="annotatedClasses">
            			<list>
                			<value>com.zust.entity.User</value>
            			</list>
        			</property>
        			<property name="hibernateProperties">
           			 <value>
               		 hibernate.dialect=org.hibernate.dialect.MySQLDialect
                		hibernate.show_sql=true
           			 </value>
       				 </property>
   					 </bean>
                   <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"  
       		 				destroy-method="close"
       		 				p:driverClassName="com.mysql.jdbc.Driver"
       		 				p:url="jdbc:mysql://localhost:3306/wl"
       		 				p:username="root"
       		 				p:password="123456"
       		 				/>  
       		 		 <bean id="hibernateTemplate" 
       		 		 	class="org.springframework.orm.hibernate3.HibernateTemplate" 
       		 		 	p:sessionFactory-ref="sessionFactory"/>
       		 	
</beans>
